#a{
    color: blueviolet;
}
.b{
    color: aqua;
}
#c{
    color: bisque;
}
.d{
    color:brown
}
#e{
    color: cadetblue;
}
.f{
    color: chartreuse;
}
#g{
    color: chocolate;
}
.h{
    color: darkred;
}
#i{
    color: crimson;
}
.j{
    color: darkolivegreen;
}
